body{
  background-color:black;
  text-align: center;
  }
.discover{
font-family:Verdana;
  font-color:white;
  font-size:40px;
  font-weight:normal;
  align:center;
  color:white;
}
.download{
  color: Aquamarine;
  font-size: 16px;
  text-align:center
 url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/excursion/videos/excursion.mp4)
  }

h1{
  font-size::50px;
  color:white;
}
h2{
    color:white;
    font-size:42;
  }
h4{
    font-color:white;
  }
p{
    color:white;
  }
  .footer{
    text-align:right;
    color:gray;
  }
