body{
  background-color:black;
  text-align: center;
  }
.discover{
font-family:Verdana;
  font-color:white;
  font-size:40px;
  font-weight:normal;
  align:center;
  color:white;
}
.download{
  color: Aquamarine;
  font-size: 16px;
  text-align:center
}
.personal{
  font-family:Verdana;
  color:gray;
  font-size:21px;
}
.guide{
  font-family:Verdana;
  font-weight:300;
  font-size:42px;
}


h1{
  font-size::50px;
  color:white;
}
h2{
    color:white;
    font-size:42;
  }
h4{
    font-color:white;
  }
p{
    color:white;
  }
  .footer{
    text-align:right;
    color:gray;
  }
